.iconed-link {
    position: relative;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #586ED3;
    padding-left: 32px;

    &__svg {
        position: absolute;
        left: 0;
        top: 4px;
        width: 16px;
        height: 16px;
        fill: #586ED3;
    }

    &:hover {
        border-bottom: 1px solid #586ED3;
    }
}