.iconed-link {
    position: relative;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: $links-color;
    padding-left: 32px;

    &__svg {
        position: absolute;
        left: 0;
        top: 4px;
        width: 16px;
        height: 16px;
        fill: $links-color;
    }

    &:hover {
        text-decoration: underline;
        color: $links-color;
    }
}