.menu__item {
    display: inline;
    margin-right: 60px;

    &:last-child {
        margin-right: 0;
    }

    &:hover .menu__link {
        color: rgba($text-color, .7);
    }
}

.menu__link {
    text-decoration: none;
}