.menu__list {
    @include tablets {
        display: none;
    }
}
.menu__item {
    display: inline;
    margin-right: 60px;

    &:last-child {
        margin-right: 0;
    }

    &:hover .menu__link {
        color: $hover-color;
    }
}

.menu__link {
    text-decoration: none;
}