.middle-section {
    position: relative;

    &__triangles-top {
        position: absolute;
        height: 100px;
        width: 100%;
        bottom: 100%;
    }

    &__triangles-bottom {
        position: absolute;
        height: 100px;
        width: 100%;
        top: 100%;
    }
}