.quote {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &__text {
        font-weight: 600;
        line-height: 30px;
        color: rgba($text-color, .6);
        margin-bottom: 31px;
    }
}