.reviews {
    background: url("~images/bg/budda.jpg") top right 25% / cover no-repeat;
}
.reviews__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 230px 0 194px;

    @include tablets {
        padding: 175px 0 58px;
    }
}