.socials {
    display: flex;

    &:not(.footer__socials) {
        @include tablets {
            display: none;
        }
    }
}

.social__item {
    display: flex;
    height: 25px;
    width: 25px;
    margin-right: 35px;

    .social__icon {
        width: 100%;
        fill: $text-color;
    }

    &:last-child {
        margin-right: 0;
    }

    &:hover .social__icon{
        fill: $hover-color;
    }
}