.tags {
    display: flex;
    margin-bottom: 35px;

    &__item {
        margin-right: 8px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.tag {
    padding: 14px 22px;
    background-color: #F3F6F9;
    border-radius: 40px;
    font-size: 15px;
    font-weight: 600;
    color: rgba($text-color, .8);
}