.userinfo {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 24px;
        color: rgba(70, 78, 98, 0.5);
        text-align: center;
    }

    &__name {
        font-size: 72px;
        font-weight: 800;
        line-height: 1;
        color: $text-color;
        max-width: 400px;
    }
}