.works__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 60px 0 74px;
}

.works__title {
    margin-bottom: 83px;
}

.works__content {
    width: 100%;
}