section.hero
  .container.hero__container
    header.header
      a.logo(href="/") ТВ
      nav.menu
        include ./menu.pug
      +socials('')

    .userinfo
      .userinfo__title Личный сайт #[br] веб разработчика
      .userinfo__name Татьяна Войтович

    .hero__bottom-buttons
      a.scroll-down-button(href="#about") Скролл