.values__widget
    -
        var skillsCategories = [
            ["Frontend", ["HTML5", "CSS3", "Javascript", "Jquery и Vue.js"]],
            ["Workflow", ["Git", "Terminal", "Gulp", "Webpack"]],
        ];
    ul.skills
        each category in skillsCategories
            li.skills__item
                .skills-row
                    .skills-row__title #{category[0]}
                    ul.skills-row__list
                        each skill in category[1]
                            li.skills-row__item
                                .skill
                                    svg.skill__circle-shape(viewbox="0 0 100 100")
                                        circle.skill__circle.skill__circle--layer--under(cx="50" cy="50" r="40")
                                        circle.skill__circle.skill__circle--layer--above(cx="50" cy="50" r="40" stroke="url(#gradient)" transform="rotate(180 50 50)")
                                        linearGradient(id="gradient" x1="0%" y1="0%" x2="100%" y2="0%")
                                            stop(offset="0%" stop-color="#5500f2")
                                            stop(offset="100%" stop-color="#8f00ef")
                                    .skill__title #{skill}