section#values.values
  .container.values__container
    .values__title Чем я могу быть полезен вам
    .values__content
      p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
    .values__widget-wrapper
      +image("content/skills.png", "values__widget-pic")

    include ./skills.pug