extends ./templates/layout/main.layout.pug

block content
  .welcome-section#welcome
    include ./templates/components/hero.pug

    include ./templates/components/about.pug

  .middle-section
    +triangles("middle-section__triangles-top")

    include ./templates/components/values.pug

    include ./templates/components/works.pug

    +triangles("middle-section__triangles-bottom triangles--pointed-down")

  include ./templates/components/reviews.pug

  include ./templates/components/footer.pug